@import url('https://fonts.cdnfonts.com/css/billabong');

.app-container {
  height: 500px;
  width: 700px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: white;
}

.app-header {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  justify-items: center;
  height:100%;
  width:100%;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: darkgrey;
}

.content-container {
}

#instagram {
  font-family: 'Billabong', sans-serif;
}