body {
    background-color: navy;
    color: antiquewhite;
}

.salad_bowl {
    display: block;
    margin: auto;
    width: 20%;
    height: auto;
}

.chosen_ingredients {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.chosen_ingredient {
    display: none;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* object-fit: contain; */
    width: 15%;
}

.ingredient_div {
    flex: 1;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.tub {
    position: absolute;
    width: 128px;
    height: 128px;
}

.ingredient {
    position: absolute;
    width: 128px;
    height: 128px;
}

.ingredient_disabled {
    position: absolute;
    width: 64px;
    height: 64px;
    display: none;
}

.ingredient_text {
    position: absolute;
    display: block;
    top: 90px;
    left: 6%;
    background-color: black;
    color: rgb(181, 208, 156);
    text-align: center;
    border: 2px solid black;
    font-size: small;
}

#top_bg {
    border: 10px solid navy;
}

#ingredients_bar {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 140px;
}

#submit {
    position: relative;
    display: inline;
    font-size: 24px;
    background-color: green;
}

#returnMainPageButton {
    display: none;
}

#lowerReturnMainPageButton{
    position: relative;
    margin-left: 85%;
    display: inline;
    font-size: 24px;
    background-color: #605f5f;
}

#bgGame {
    border: 10px solid black;
    background-color: burlywood;
    margin-bottom: 10px;
}

#squirrel {
    display: flex;
    width: 20%;
    height: auto;
}