.bg {
    position: relative;
}

.chosen_answers_table {
    position: absolute;
    top: 15%;
    left: 15%;
}

.tub_1 {
    position: absolute;
    top: 15%;
    left: 15%;
}

.tub_2 {
    position: absolute;
    top: 20%;
    left: 20%;
}

.tub_3 {
    position: absolute;
    top: 25%;
    left: 25%;
}

.tub_4 {
    position: absolute;
    top: 15%;
    left: 15%;
}

.tub_5 {
    position: absolute;
    top: 15%;
    left: 15%;
}

.salad_bowl {
    position: absolute;
    top: 20%;
    left: 20%;
    height: 20%;
    width: 20%;
}