/* style for entire webpage */

/* edit background, functions, and basic layout as you wish */

/* note the class names and ids, if you are using other class names for your html 
components, be sure to edit them here */

body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: courier;
  }

  /* style for guide hyperlinks */
  a
  {
    color: rgb(123, 213, 255);
  }

  /* style for blinking start screen */
  /* source: https://www.freecodecamp.org/news/make-it-blink-html-tutorial-how-to-use-the-blink-tag-with-code-examples/ */
  #blinkingStartScreen {
    animation: blink 1s steps(1, end) infinite;

    /* for positioning the start screen image with text */
    width: 700px;
    height: 500px;
    position: absolute;
    visibility: visible;
  }

  @keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  /* source for how to style an element by id: https://blog.hubspot.com/website/css-id */
  /* style for scrolling text box (i.e. terminal) */
  #myTerminal {
    background-color: rgb(0, 8, 8);
    color: white;
    width: 605px;
    height: 377px;
    overflow-y: scroll;
    position: absolute;
    visibility: hidden;
    text-align: left;
    word-break: break-all;  /* allows wraparound without spaces - https://css-tricks.com/almanac/properties/o/overflow-wrap/*/
  }

  /* style the terminal files with respect to linux color code: https://www.2daygeek.com/understanding-the-color-code-of-linux-files/ */
  /* text: white , directory: blue, executable: green */
  .executable_file {
    color: limegreen;
  }
  .subdirectory {
    color: mediumblue;
  }

  /* source for how to style tab-related elements: https://www.w3schools.com/howto/howto_js_vertical_tabs.asp*/
  /* style the tab */
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    width: 200px; /* width of tab */
    height: 500px; /* make the same as game canvas' height */
    position: absolute;
    visibility: hidden;
  }

  /* style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
  }

  /* change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }

  /* style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    border-left: none;

    width: 500px; /* width of tab content */
    height: 500px;  /* make the same as game canvas' height */
    position: absolute;

    visibility: hidden;
    background-color: white;
    color:black;
    text-align: left;
  }

  /* source for styling button: https://www.w3schools.com/css/css3_buttons.asp */
  .button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgb(181, 255, 207);
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  /* style the button on hover */
  .button:hover {
    background-color: rgb(168, 240, 194);
  }

  /* style for the list of hints */
  .hint_list {
    color: black;
    width: 500px;
    height: 300px;
    overflow-y: scroll;
    visibility: hidden;
    text-align: left;
  }

  /* source for display parameter: https://stackoverflow.com/questions/2928688/how-to-hide-elements-without-having-them-take-space-on-the-page */
  /* style for elements that show up while game is ongoing */
  .ongoing {
    visibility: visible;
    display: block;
  }

  /* style for elements that show up when the game is complete */
  .complete {
    visibility: hidden;
    display: none;
  }

  iframe {
    align-items: center;
    align-self: center;
    align-content: center;
    margin: auto;
    width: 660px;
    height: 460px;
    border: 20px solid rgb(58, 58, 58);
  }

  canvas {
    margin: auto;
  }